{% extends "boilerplate.html" %}
{% block title %}Edit note: {{ note[1] }}{% endblock %}

{% block content %}
    <h4 style="padding-left: 20px;">view note:</h4>
    <div class="note_container">
        <h2 class="note_title">{{ note[1] }}</h2>
        <p class="note_content">{{ note[2] }}</p>
        <p class="note_date"><i>{{ note[3] }}</i></p>
    </div>

    <h4 style="padding-left: 20px;">edit note:</h4>
    <form method="POST" class="sform">
        <textarea class="sform_note" name="newnote" placeholder="write new note..." required></textarea>
        <br><br>
        <button class="sform_button">Submit</button>   
    </form>
    <a href="/"><button class="sform_button" style="margin-left: 30px;">Go back</button></a>
{% endblock %}