{% extends "boilerplate.html" %}
{% block title %}Notes{% endblock %}

{% block content %}

    <form method="POST" class="sform">
        <input class="sform_title" type="text" name="title" placeholder="Add Title..." required>
        <br><br>
        <textarea class="sform_note" name="note" placeholder="Make a note..." required></textarea>
        <br><br>
        <div class="buttons">
            <button class="sform_button">Submit</button> 
        </div>
    </form>
    <br><br>

    {% for note in notes|reverse %}
    <div class="note_container">
        <h2 class="note_title">{{ note[1] }}</h2>
        <p class="note_content">{{ note[2] }}</p>
        <p class="note_date"><i>{{ note[3] }}</i></p>
        <div class="buttons">
            <a href="{{ url_for('edit', sno=note[0]) }}">
                <button>View/Edit</button>
            </a>
            <form action="{{ url_for('delete', sno=note[0]) }}">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock %}