{% extends "boilerplate.html" %}
{% block title %}Notes{% endblock %}

{% block content %}

    <form method="POST">
        <input type="text" name="title" placeholder="Title..." required>
        <br><br>
        <textarea name="note" placeholder="Make a note..." required></textarea>
        <br><br>
        <button>Submit</button> 
    </form>

    <table>
        <tr>
            <th>SNO</th>
            <th>Title</th>
            <th>Note</th>
            <th>Date created</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td>{{ note[0] }}</td>
            <td>{{ note[1] }}</td>
            <!-- This tells HTML to show all whitespace exactly as it appears in the source, including newlines. -->
            <td style="white-space: pre-wrap;">{{ note[2] }}</td>
            <td>{{ note[3] }}</td>
            <td>
                <a href="{{ url_for('edit', sno=note[0]) }}">
                    <button>View/Edit</button>
                </a>
            </td>
            <td>
                <form action="{{ url_for('delete', sno=note[0]) }}" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}